[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo
	branch = 18.0
[submodule "addons/jorels-odoo-addons"]
	path = addons/jorels-odoo-addons
	url = https://gitlab.com/jorels-community/jorels-odoo-addons
	branch = 18.0
